<div class="container launch-container">
    <div class="filters background-color-white">
        <div class="filter-heading" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <h2 class="no-margin">Filters</h2>
            <a class="filter-reset" (click)="onFilterData('')">Reset</a>
        </div>
        <div class="padding-top-10">
            <label class="filter-title">Launch Year</label>
            <div class="padding-top-10" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
                <div *ngFor="let year of filters.launch_year.data" class="year text-align" fxFlex="45"
                    (click)="onFilterData(year, 'launch_year')">
                    <button [ngClass]="{'active': filters.launch_year.selected === year}">{{year}}</button>
                </div>
            </div>
        </div>
        <div class="padding-top-10">
            <label class="filter-title">Successful Launch</label>
            <div class="padding-top-10" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
                <div class="filter-btn-sec text-align">
                    <button class="filter-btn" [ngClass]="{'active': filters.launch_success.selected === 'true'}" (click)="onFilterData('true', 'launch_success')">True</button>
                    <button class="filter-btn" [ngClass]="{'active': filters.launch_success.selected === 'false'}" (click)="onFilterData('false', 'launch_success')">False</button>
                </div>
            </div>
        </div>
        <div class="padding-top-10">
            <label class="filter-title">Successful Land</label>
            <div class="padding-top-10" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
                <div class="filter-btn-sec text-align">
                    <button class="filter-btn" [ngClass]="{'active': filters.land_success.selected === 'true'}" (click)="onFilterData('true', 'launch_success')">True</button>
                    <button class="filter-btn" [ngClass]="{'active': filters.land_success.selected === 'false'}" (click)="onFilterData('false', 'launch_success')">False</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isLoading" class="loader-backdrop">
        <span class="loader loader-align"></span>
    </div>
    <div class="content content-style">
        <div *ngIf="!isLoading && !launchHistory.length" class="no-data-found">
            <i>No data found for the selected filter</i>
        </div>
        <div class="lunch-data-container">
            <div *ngFor="let launchData of launchHistory;" class="card-container">
                <div class="card">
                    <div class="event-logo">
                        <img [src]="launchData.links.mission_patch_small" width="95%" height="45%" loading="lazy">
                    </div>
                    <div class="mission-name">
                        <b>{{launchData.mission_name}} #{{launchData.flight_number}}</b>
                    </div>
                    <div class="event-content">
                        <div class="mission-id">
                            <b>Mission Ids: </b>
                            <ul class="mission-list">
                                <li *ngFor="let missionId of launchData.mission_id"><span
                                        class="event-values">{{missionId}}</span></li>
                            </ul>
                        </div>
                        <div class="event-container">
                            <b class="event-label">Launch Year: </b> <span
                                class="event-values">{{launchData.launch_year}}</span>
                        </div>
                        <div class="event-container">
                            <b class="event-label">Successful Launch: </b> <span
                                class="event-values">{{launchData.launch_success}}</span>
                        </div>
                        <div class="event-container">
                            <b class="event-label">Successful Landing: </b> <span
                                class="event-values">{{launchData.rocket.first_stage.cores[0].land_success}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>