.background-color-white {
    background-color: #fff;
}

.padding-top-10 {
    padding-top: 10px;
}

.filter-heading {
    padding: 3px 10px;
}

.filter-title {
    text-decoration: underline;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.text-align {
    text-align: center;
}

button {
    margin: 5px;
    background-color: #c6df9b;
    width: 75%;
    border: none;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

.filter-btn {
    width: 45%;
    float: left;
}

.filter-btn-sec {
    width: 100%;
}

button:hover {
    background-color: #7cba01;
}

img {
    margin: 15px 5px 2px 5px;
    background-color: #f3f3f3;
}

.event-logo {
    text-align: center;
}

.event-content {
    padding: 7px 5px;
}

ul {
    margin: 0px;
}

.active {
    background-color: #7cba01;
}

.filters>div {
    text-align: center;
}

.filter-reset {
    text-decoration: underline;
    color: #0491a3;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.no-margin {
    margin: 0;
}

.mission-name {
    color: #565c9a;
    padding: 5px;
}

.event-values {
    color: #565c9a;
    padding-left: 7px;
}

.no-data-found {
    text-align: center;
    margin-top: 25%;
}

.event-label {
    max-width: 70%;
    word-wrap: break-word;
}

.event-container {
    display: flex;
    padding-top: 10px;
}

.loader {
    border: 16px solid #fdeded;
    border-top: 16px solid #07ff8c;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 999;
    opacity: 0.9;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-backdrop {
    background-color: #0b0c0b;
    opacity: 0.5;
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    margin: auto;
    left: 0;
    top: 0;
}

.title {
    padding: 2px 12px;
    font-weight: bold;
    margin-bottom: 5px;
    margin: auto;
}

 .launch-container {
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
 }

 .filter-header {
    place-content: center space-between;
    align-items: center;
}

.filter-list {
    place-content: center flex-start;
    align-items: center;
}

.container {
    max-width: 1440px;
    font-size: 13px;
}

.card-container {
    display: block;
    margin: 7px;
    float: left;
    background-color: #fff;
}

.card {
    padding: 5px;;
}

.lunch-data-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-flow: wrap;
}

.launch-data-list {
    flex-grow: 1;
}

.filters {
    height: 100%;
    padding: 10px 0px;
}

@media (min-width: 0px) {
    /* For Mobile: */
    .launch-container {
        margin: 15px;
    }
    .filters {
        // width: 100%;
        flex: 1 1 100%;
        box-sizing: border-box;
        max-width: 100%;
    }

    .content {
        flex: 1 1 100%;
        box-sizing: border-box;
        max-width: 100%;
        margin-top: 15px;
    }

    .loader-align {
        top: 35%;
        left: 32%;
    }

    .card-container {
        flex-basis: 100%;
        max-width: 100%;
        display: block;
    }
}

@media only screen and (min-width: 700px) {
  /* For tablets: */
    .launch-container {
        margin: auto;
    }
    .filters {
        flex: 1 1 28%;
        box-sizing: border-box;
        max-width: 28%;
        margin-left: 10px;
        margin-top: 7px;
    }

    .content {
       flex: 1 1 70%;
        box-sizing: border-box;
        max-width: 70%;
        margin-top: 0px;
    }

    .loader-align {
        top: 32%;
        left: 43%;
    }

    .card-container {
        flex-basis: 47%;
        max-width: 47%;
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    /* For desktop: */
    .launch-container {
        margin: auto;
    }
    .filters {
        flex: 1 1 24%;
        box-sizing: border-box;
        max-width: 24%;
        margin-top: 7px;
    }

    .content {
       flex: 1 1 74%;
        box-sizing: border-box;
        max-width: 74%;
        margin-left: 5px;
    }

    .loader-align {
        top: 27%;
        left: 45%;
    }

    .card-container {
        flex-basis: 23%;
        max-width: 23%;
        display: block;
    }
}

@media only screen and (min-width: 1440px) {
  /* For desktop beyond 1440px: */
    .filters {
        flex: 1 1 20%;
        box-sizing: border-box;
        max-width: 20%;
        margin: 7px 5px 5px 15px;
    }

    .content {
       flex: 1 1 78%;
        box-sizing: border-box;
        max-width: 78%;
        margin-left: 5px;
    }

    .container {
        margin: auto;
    }

    .loader-align {
        top: 30%;
        left: 46%;
    }

    .card-container {
        flex-basis: 23%;
        max-width: 23%;
        display: block;
    }
}

