<div class="container">
    <div fxLayout="row wrap" fxLayoutGap="20px">
        <div fxFlex="20" class="filters background-color-white">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <h3 class="no-margin">Filters</h3>
                <a class="filter-reset" (click)="onFilterData('')">Reset</a>
            </div>
            <div class="filter-year">
                <label class="filter-title">Launch Year</label>
                <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <div *ngFor="let year of filters.launchYear" class="year text-align" fxFlex="45"
                        (click)="onFilterData(year, 'launch_year')">
                        <button>{{year}}</button>
                    </div>
                </div>
            </div>
            <div class="filter-launch">
                <label class="filter-title">Successful Launch</label>
                <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <div *ngFor="let launch of filters.successfulLaunch" class="launch text-align" fxFlex="45"
                        (click)="onFilterData(launch, 'launch_success')">
                        <button>{{launch}}</button>
                    </div>
                </div>
            </div>
            <div class="filter-land">
                <label class="filter-title">Successful Land</label>
                <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <div *ngFor="let land of filters.successfulLand" class="land text-align" fxFlex="45"
                        (click)="onFilterData(land, 'land_success')">
                        <button>{{land}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex="78" class="content">
            <!-- <cdk-virtual-scroll-viewport #cdkSpaceXLaunchViewport itemSize="20"> -->
                <!-- <div *cdkVirtualFor="let launchData of launchHistory;" class="card card-layout"> -->
                <div *ngFor="let launchData of launchHistory;" class="card card-layout">
                    <div class="event-logo">
                        <img [src]="launchData.links.mission_patch_small" width="85%" height="200px">
                    </div>
                    <div class="mission-name">
                        <b>{{launchData.mission_name}} #{{launchData.flight_number}}</b>
                    </div>
                    <div class="event-content">
                        <div class="mission-id">
                            <b>Mission Ids: </b>
                            <ul class="mission-list">
                                <li *ngFor="let missionId of launchData.mission_id"><span
                                        class="event-values">{{missionId}}</span></li>
                            </ul>
                        </div>
                        <div>
                            <b>Successful Launch: </b> <span class="event-values">{{launchData.launch_success}}</span>
                        </div>
                        <div>
                            <b>Successful Landing: </b> <span
                                class="event-values">{{launchData.rocket.first_stage.cores[0].land_success}}</span>
                        </div>
                    </div>
                </div>
            <!-- </cdk-virtual-scroll-viewport> -->
        </div>
    </div>
</div>


<!-- <div class="container"> -->
<!-- <div fxLayout="row" fxLayoutAlign="start stretch"> -->
<!-- Left side filters -->
<!-- <div fxFlex="25" class="filters background-color-white">
        <h5>Filters</h5>
        <div class="filter-year">
            <label class="filter-title">Launch Year</label>
            <div *ngFor="let year of filters.launchYear" class="year" (click)="onFilterData(year, 'launch_year')">
                <button class="btn">{{year}}</button>
            </div>
        </div>
        <div class="filter-launch">
            <label class="filter-title">Successful Launch</label>
            <div *ngFor="let launch of filters.successfulLaunch" class="launch"
                (click)="onFilterData(launch, 'launch_success')">
                <button class="btn">{{launch}}</button>
            </div>
        </div>
        <div class="filter-land">
            <label class="filter-title">Successful Land</label>
            <div *ngFor="let land of filters.successfulLand" class="land" (click)="onFilterData(land, 'land_success')">
                <button class="btn">{{land}}</button>
            </div>
        </div>
    </div> -->

<!-- Right side data -->
<!-- <div fxFlex="75" class="content background-color-white">

    </div> -->
<!-- </div> -->