.title {
    padding: 2px 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-content {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

footer {
    height: 20px;
    padding-top: 7px;
}